<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$title?> | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="Gedetailleerde omschrijving van <?=$title?>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<header>
    <a href="/">Gamecollector.nl</a>
    <a href="/admin">Login</a>
</header>

<main>
    <section class="gamedetail">
        <div>
            <img src="assets/images/raw/<?=$console?>/<?=$image?>" alt="<?=$title?>">
        </div>
        <div>
            <h1><?=$title?></h1>
            <br>
            <h3>Omschrijving</h3>
            <p><?=$description_nl?></p>
        </div>
    </section>
</main>

<footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>

<script>
window.addEventListener('touchstart', () => {fetch('/heartbeat')}, {once: true});
window.addEventListener('mousemove', () => {fetch('/heartbeat')}, {once: true});
</script>

</body>
</html>
