<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$title?> | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<header>
    <a id="logo" href="/">Gamecollector.nl</a>
    <a id="loginbutton" href="/admin">login</a>
</header>

<main>
    <section class="gamedetail">
        <div>
            <?php if($image):?>
            <figure><img src="assets/images/raw/<?=$console?>/<?=$image?>" alt="<?=$title?>"></figure>
            <?php else:?>
            <figure><img src="assets/images/noimage.jpg" alt="No Image"></figure>
            <?php endif;?>
        </div>
        <div>
            <h2><?=$title?></h2>
            <br>
            <p><strong>Description:</strong></p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
            eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, 
            nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, 
            sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
            vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. 
            Nullam dictum felis eu pede mollis pretium. Integer tincidunt</p>
        </div>
    </section>
    <?php if($tags):?>
    <section class="releases">
        <div class="sectionheader"><h3>Tags</h3></div>
        <?php foreach($tags as $tag):?>
        <p class="tag"><?=$tag?></p>
        <?php endforeach;?>
    </section>
    <?php endif;?>
    <section class="releases">
        <div class="sectionheader"><h3>Releases</h3></div>
        <?php foreach($releases as $release):?> 
        <figure>
            <?php if($image):?>
            <img src="assets/images/raw/<?=$release['console']?>/<?=$release['image']?>" alt="<?=$title?>">
            <?php else:?>
            <img src="assets/images/noimage.jpg" alt="<?=$title?>">
            <?php endif;?>
            <figcaption><?=$release['console']?> - <?=$release['region']?></figcaption>
        </figure>
        <?php endforeach;?>
    </section>
</main>

<footer>
    &copy; 2023 | Gamecollector.nl | <?=$debug?>
</footer>

</body>
</html>
