<!DOCTYPE html>
<html lang="NL">
<head>
	<title><?=$title?> | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="Gedetailleerde omschrijving van <?=$title?>">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<header>
    <a href="/">Gamecollector.nl</a>
    <a href="/admin">Login</a>
</header>

<main>
    <section class="gamedetail">
        <div><div id="detailimages">
<?php foreach($covers() as $cover):?><?php extract($cover);?>
            <img onclick="this.parentElement.prepend(this)" src="assets/images/large/<?=$console?>/<?=$image?>" alt="<?=$console?>-<?=$title?>">
<?php endforeach;?>
        </div></div>
        <div>
            <div class="detailtext">
                <h1><?=$title?></h1>
                <p><?=nl2br($description_nl)?></p>
            </div>
            <div class="detailtext">
                <table>
<?php foreach($releases as $row):?>
                    <tr>
<?php foreach($row as $item):?> 
                        <<?=isset($row[0]) ? 'th' : 'td'?>><?=$item?></<?=isset($row[0]) ? 'th' : 'td'?>>
<?php endforeach;?>               
                    </tr>
<?php endforeach;?>
                </table>
            </div>
        </div>
    </section>
</main>

<footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>

<script>
window.addEventListener('touchstart', () => {fetch('/heartbeat')}, {once: true});
window.addEventListener('mousemove', () => {fetch('/heartbeat')}, {once: true});
</script>

</body>
</html>
