<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<header>
    <a href="/">Gamecollector.nl</a>
    <a href="/admin">Login</a>
</header>

<nav>
<?php foreach(ConsoleModel::CONSOLES as $url => $title):?>
    <a href="/consoles/<?=$url?>"><?=$title?></a>
<?php endforeach;?>
</nav>

<main>
    <section class="gamelist">
<?php $i=1;foreach($games() as $game):?>
        <a href="games/<?=$game['url']?>"><figure>
            <img src="assets/images/large/<?=$game['console']?>/<?=$game['image']?>" alt="<?=$game['title']?>" loading="<?=($i > 15 ? 'lazy' : 'eager')?>">
            <figcaption><?=$game['title']?></figcaption>
        </figure></a>
<?php $i++;endforeach;?>
    </section>
</main>

<footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>

<script>
window.addEventListener('touchstart', () => {fetch('/heartbeat')}, {once: true});
window.addEventListener('mousemove', () => {fetch('/heartbeat')}, {once: true});
</script>

</body>
</html>
