<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Login | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/style.css" type="text/css">
</head>
<body>

<header>
    <a href="/">Gamecollector.nl</a>
</header>

<main>
    <div class="spacer"></div>
    <section class="login">
        <form method="POST">
            <label>Username<input type="text" name="username"></label>
            <label>Password<input type="password" name="password"></label>
            <button type="submit">login</button>
        </form>
    </section>
</main>

<footer>&copy; 2023 | <?=$_SERVER['HTTP_HOST']?> | <?=$debug?></footer>

</body>
</html>
