<!DOCTYPE html>
<html lang="NL">
<head>
	<title>Admin | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
	<meta name="description" content="">
    <meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/admin.css" type="text/css">
</head>
<body>

<?=$notification?>

<header>
    <a id="logo" href="/admin">Gamecollector.nl</a>
    <a id="loginbutton" href="/logout">logout</a>
</header>

<nav>
<?=$navigation?>
</nav>

<main>
    <section class="editform">
        <div class="sectionheader"><h3><?=empty($title) ? 'New' : 'Edit: '.$title?></h3></div><br>
        <form method="POST">
            <input type="hidden" name="gameid" value="<?=$gameid ?? null?>">
            <label>Title<input type="text" name="title" placeholder="Title" value="<?=$title ?? null?>"></label><br><br>
<?php foreach($genres as $genre):?>
            <label class="checkboxrows"><input type="checkbox" name="genres[]" value="<?=$genre['value']?>" <?=$genre['checked']?>> <?=$genre['name']?></label>
<?php endforeach;?>
            <br><br><button type="submit">Save</button>
        </form>
    </section>
</main>

<footer>
    &copy; 2023 | Gamecollector.nl | <?=$debug?>
</footer>

</body>
</html>
