<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Admin | Gamecollector.nl</title>
    <meta charset="UTF-8">
	<base href="/" target="_self">
    <meta name="robots" content="noindex,nofollow">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/css/admin.css" type="text/css">
</head>
<body>

<?=$notification?>

<header>
    <a id="logo" href="/admin">Gamecollector.nl</a>
</header>

<nav>
<?=$navigation?>
</nav>

<main>
    <section class="adminsection">
        <div class="sectionheader"><h3><?=empty($title) ? 'New' : 'Edit: '.$title?></h3></div><br>
        <form method="POST">
            <input type="hidden" name="gameid" value="<?=$gameid ?? null?>">
            <label>Title<input type="text" name="title" placeholder="Title" value="<?=$title ?? null?>"></label><br><br>
            <label>Description Dutch<textarea name="description_nl"><?=$description_nl ?? null?></textarea></label>
            <label>Description English<textarea name="description_en"><?=$description_en ?? null?></textarea></label>
<?php foreach($genres as $genre):?>
            <label class="checkboxrows"><input type="checkbox" name="genres[]" value="<?=$genre['value']?>" <?=$genre['checked']?>> <?=$genre['name']?></label>
<?php endforeach;?>
            <br><br><button type="submit">Save</button>
        </form>
    </section>
<?php if(!empty($title)):?>
    <br>
    <section class="adminsection">
        <div class="sectionheader"><h3>Releases</h3></div><br>
        <table id="table">
<?php foreach($releases() as $item):?>
            <tr>
                <td><?=$item['console']?></td>
                <td><?=$item['region']?></td>
                <td><?=$item['releasedate']?></td>
                <td><a title="Edit" href="/admin/releases/edit/<?=$item['releaseid']?>">✎</a></td>
            </tr>
<?php endforeach;?>
        </table>
    </section>

    <section class="adminsection">
        <div class="sectionheader"><h3>Covers</h3></div><br>
        <a class="button" href="/admin/covers/new/<?=$gameid?>">add cover</a><br><br>
    </section>
<?php endif;?>
</main>

<footer>
    &copy; 2023 | Gamecollector.nl | <?=$debug?>
</footer>

</body>
</html>
