/******************************/
/*        GENERAL CSS         */
/******************************/

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

html{
    font-family: Arial, sans-serif;
}

a{
    text-decoration:none;
}

header{
    display:flex;
    justify-content:space-between;
    background:#54a0ff;
}

header a{
    color:#fff;
    padding:8px 16px;
}

nav{
    display:flex;
    justify-content:center;
    border-bottom:1px solid #54a0ff;
}

nav a{
    color:#54a0ff;
    text-transform:uppercase;
    padding:10px 20px;
    font-size:14px;
    font-weight:bold;
    transition:all 200ms ease-in-out;
}

nav a:hover{
    color:#fff;
    background:#54a0ff;
}

main{
    min-height:86vh;
}

footer{
    text-align:center;
    font-size:11px;
    color:#aaa;
}

.adminsection{
    width:100%;
    max-width:800px;
    margin:10px auto;
}

.adminsection input[type=text], .adminsection textarea{
    width:100%;
}

.adminsection textarea{
    height:120px;
    margin-bottom:10px;
}

.checkboxrows{
    display:inline-block;
    width:32.9%;
}

/********************************/
/*         GAMELIST CSS         */
/********************************/

.gamelist{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.gamelist img{
    width:300px;
    height:400px;
    object-fit:contain;
}

.gamelist a{
    color:#000;
    text-align:center;
    margin:10px;
}

.consolenav{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:20px 0;
}

.consolenav a{
    color:#fff;
    background:#54a0ff;
    text-transform:uppercase;
    padding:10px 22px;
    margin-bottom:12px;
    margin-right:12px;
    font-size:14px;
    font-weight:bold;
    border:2px solid #54a0ff;
    border-radius:16px;
    transition:all 200ms ease-in-out;
}

.consolenav a:hover{
    color:#54a0ff;
    background:#fff;
}

/********************************/
/*         GAMEEDIT CSS         */
/********************************/

.editcovers{
    display:flex;
    margin-bottom:20px;
}

.editcovers img{
    width:100px;
}

/********************************/
/*           FORM CSS           */
/********************************/

input, textarea, select{
    border:1px solid #333;
    padding:6px;
}

button, .button{
    border:1px solid #333;
    padding:6px;
    background:#d63031;
    color:#fff;
    cursor:pointer;
    transition:all 200ms ease-in-out;
}

button:hover,.button:hover{
    background:#ff7675;
}

/******************************/
/*         TABLE CSS          */
/******************************/

table{
    width:100%;
    border-collapse:collapse;
}

tr:nth-child(odd){}
tr:not(:last-child){}

tr{
    border-top:1px solid #ccc;
}

td{
    padding:4px;
}

td:last-child{
    text-align:right;
    width:100px;
}

td a{
    color:#000;
    font-size:20px;
    margin:0 6px;
}

/******************************/
/*         POPUP CSS          */
/******************************/

.popup{
    width:100%;
    max-width:800px;
    height:80px;
    position:absolute;
    top:-90px;
    left:0;
    right:0;
    margin:0 auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    font-weight:bold;
    border:2px solid #333;
    animation:fadeinout 4s 1;
    z-index:10;
}

.error{
    background:#fc8189;
}

.message{
    background:#91f298;
}

@keyframes fadeinout{
  from {top:-90px;}
  10%  {top:0}
  90%  {top:0}
  to   {top:-90px;}
}

/********************************/
/*           FONT CSS           */
/********************************/

@font-face {
    font-family:Quicksand;
    src:url("../fonts/Quicksand.woff2");
}


/********************************/
/*        Responsive CSS        */
/********************************/

@media all and (max-width: 700px){}
