/******************************/
/*        GENERAL CSS         */
/******************************/

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

html{
    font-family:MavenPro,Arial,sans-serif;
    background:#fafafa;
}

a{
    text-decoration:none;
}

header{
    display:flex;
    justify-content:space-between;
    background:#54a0ff;
}

header a{
    color:#fff;
    padding:8px 16px;
    font-size:20px;
    font-weight:bold;
}

header a:last-child{
    font-size:12px;
    line-height:20px;
    text-transform:uppercase;
}

nav{
    display:flex;
    justify-content:center;
    border-bottom:1px solid #54a0ff;
}

nav a{
    color:#54a0ff;
    text-transform:uppercase;
    padding:10px 20px;
    font-size:14px;
    font-weight:bold;
    transition:all 200ms ease-in-out;
}

nav a:hover{
    color:#fff;
    background:#54a0ff;
}

main{
    min-height:90vh;
}

footer{
    text-align:center;
    font-size:11px;
    color:#aaa;
}

/********************************/
/*         GAMELIST CSS         */
/********************************/

.gamelist{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.gamelist img{
    width:270px;
    height:360px;
    object-fit:contain;
}

.gamelist a{
    color:#000;
    font-size:15px;
    text-align:center;
    margin:8px;
}

/********************************/
/*        GAMEDETAIL CSS        */
/********************************/

.gamedetail{
    width:100%;
    max-width:1400px;
    margin:20px auto;
    display:flex;
    align-items:top;
}

.gamedetail > div{
    width:50%;
    margin:0 auto;
}

.gamedetail p{
    line-height:28px;
    font-size:18px;
}

#detailimages{
    width:100%;
    max-width:580px;
    padding:10px;
    background:#fff;
    margin:0 auto;
    border-radius:8px;
    box-shadow:0 0 2px #aaa;
    text-align:center;
}

.gamedetail img{
    height:205px;
    margin:10px;
    cursor:pointer;
}

.gamedetail img:first-child{
    width:100%;
    height:100%;
    max-width:540px;
    cursor: initial;
}

.detailtext{
    width:100%;
    padding:16px;
    background:#fff;
    margin-bottom:20px;
    border-radius:8px;
    box-shadow:0 0 2px #aaa;
}

.detailtext table{
    width:100%;
    text-align:center;
    line-height:30px;
}

/*********************************/
/*           LOGIN CSS           */
/*********************************/

.spacer{
    height:30vh;
}

.login{
    background:#54a0ff;
    width:96%;
    max-width:350px;
    margin:0 auto;
    padding:12px;
}

.login input, .login button{
    width:100%;
    margin:4px 0;
}

/********************************/
/*           FORM CSS           */
/********************************/

input, textarea, select{
    border:1px solid #333;
    padding:6px;
}

button, .button{
    border:1px solid #333;
    padding:6px;
    background:#d63031;
    color:#fff;
    cursor:pointer;
    transition:all 200ms ease-in-out;
}

button:hover,.button:hover{
    background:#ff7675;
}

/********************************/
/*           FONT CSS           */
/********************************/

@font-face {
    font-family:MavenPro;
    src:url("../fonts/MavenPro.woff2");
}

/********************************/
/*        Responsive CSS        */
/********************************/

@media all and (max-width: 1300px){
    .gamedetail > div{
        width:48%;
    }

    .gamedetail img:first-child{
        width:94%;
    }
}

@media all and (max-width: 1000px){
    .gamedetail{
        display:block;
    }
    
    #detailimages{
        margin-bottom:20px;
    }

    .gamedetail > div{
        width:98%;
    }
}

@media all and (max-width: 600px){
    nav a{
        padding:6px 8px;
        font-size:12px;
    }

    .gamedetail table{
        font-size:12px;
    }
    
    .gamedetail img{
        height:120px;
    }
    
    .detailtext{
        padding:8px;
    }
    
    .gamelist img{
        width:180px;
        height:240px;
    }

    .gamelist a{
        font-size:11px;
        margin:6px;
    }
}
