/******************************/
/*        GENERAL CSS         */
/******************************/

*{
    margin:0;
    padding:0;
    border:0;
    box-sizing:border-box;
}

html{
    font-family: Arial, sans-serif;
}

a{
    text-decoration:none;
}

header{
    display:flex;
    justify-content:space-between;
    background:#54a0ff;
}

header a{
    color:#fff;
    padding:8px 16px;
}

main{
    min-height:90vh;
}

footer{
    text-align:center;
    font-size:11px;
    color:#aaa;
}

/********************************/
/*         GAMELIST CSS         */
/********************************/

.gamelist{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.gamelist img{
    width:300px;
    height:400px;
    object-fit:contain;
}

.gamelist a{
    color:#000;
    text-align:center;
    margin:10px;
}

/********************************/
/*        GAMEDETAIL CSS        */
/********************************/

.gamedetail{
    width:100%;
    max-width:1240px;
    margin:20px auto;
    display:flex;
    align-items:center;
}

.gamedetail div{
    width:50%;
    padding:10px;
}

.gamedetail p,.gamedetail h3{
    line-height:28px;
}

/*********************************/
/*           LOGIN CSS           */
/*********************************/

.spacer{
    height:30vh;
}

.login{
    background:#54a0ff;
    width:96%;
    max-width:350px;
    margin:0 auto;
    padding:12px;
}

.login input, .login button{
    width:100%;
    margin:4px 0;
}

/********************************/
/*           FORM CSS           */
/********************************/

input, textarea, select{
    border:1px solid #333;
    padding:6px;
}

button, .button{
    border:1px solid #333;
    padding:6px;
    background:#d63031;
    color:#fff;
    cursor:pointer;
    transition:all 200ms ease-in-out;
}

button:hover,.button:hover{
    background:#ff7675;
}

/********************************/
/*        Responsive CSS        */
/********************************/

@media all and (max-width: 700px){}
